
.hero{
  background: url('../../assets/owp-dreamhome-slide-4.jpg');
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
  min-height: 100vh;
}  

.hero-content{
  padding-top: 7rem;
}

.left-content{
  color: var(--white);
  gap: 2rem;
}

.hero-title{
  font-size: 2.5rem;
  font-family: "Vollkorn", serif;
}

.hero-text{
  color: var(--white);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.377);
}

@media screen and (min-width: 860px) {
  .left-content{
    width: 50%;
    text-align: left;
  }
  .hero-title{
    font-size: 3rem;
  }
}