.slick-dots li button::before {
  font-size: 6px !important;
  color: #646464 !important;
}

.testimonials-content {
  text-align: center;
}

.testimonials-item {
  max-width: 700px;
  margin: 0 auto;
}

.testimonials-item .text {
  margin: 2rem 0;
}

.testimonials-item .testimonial-name{
  font-size: 1;
  font-weight: 600;
}