.creativity-content {
  gap: 2rem;
}

.creativity-header {
  position: absolute;
  font-size: 5rem;
  font-weight: 700;
  color: rgb(233, 233, 233);
  visibility: hidden;
  bottom: 40%;
  left: -25%;
  z-index: -1;
}

.creativity-sub-header{
  position: relative;
}


.left-creativity-content {
  padding: 1rem 0;
  gap: 2rem;
  margin: 0 1rem;
}


@media (min-width: 860px) {
  .creativity-content {
    flex-direction: row;
  }

  .left-creativity-content {
    width: 50%;
    padding: 1rem 3rem;
    order: 4;
  }

  .right-creativity-content {
    width: 50%;
    order: 1;
  }
}

@media (min-width: 980px) {
  .left-creativity-content {
    width: 50%;
    padding: 1rem 5rem;
  }

  .creativity-header {
    visibility: visible;
  }
}